@charset "UTF-8";
/* CSS Document */

html, body {
  font-size: 14px;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
}

p, dd {
  color: #3d3d3d;
  line-height: 1.64em;
  margin-bottom: 20px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
  color: #cfad61;
}

footer {
  background: #e8e8e8;
  padding: 12px 0;
  font-size: 0.8em;
  text-align: center;
}

/*AR-contents*/
#ui-area {
  z-index: 20;
}

.btnArea {
  background: rgba(0, 6, 53, 0.6);
  position: fixed;
  width: 100%;
  height: 90px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: bottom .5s;
}

.btnArea button {
  color: #fff;
  font-size: .8rem;
  letter-spacing: .2em;
  line-height: 112px;
}

.btnAct {
  background: no-repeat center;
  background-size: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.btnAct[disabled] {
  opacity: 0.2;
  cursor: auto;
}

#fullsc {
  width: 46px;
  height: 35px;
  background-image: url('../img/btn_fullscreen.png');
  position: absolute;
  left: 20px;
  top: 20px;
}

#cam-take {
  background-image: url('../img/btn_take.png');
  width: 64px;
  height: 64px;
}

#zodiac-change {
  position: relative;
  width: 82px;
  height: 62px;
}

#zodiac-change::before {
  content: "";
  position: absolute;
  display: block;
  width: 51px;
  height: 44px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  background: no-repeat url('../img/btn_zod-chg.png') left/204px;
}

#zodiac-change.ohitsuji::before {
  background-position: -51px 0;
}

#zodiac-change.tenbin::before {
  background-position: 0 -88px;
}

#zodiac-change.oushi::before {
  background-position: -102px -88px;
}

#zodiac-change.sasori::before {
  background-position: -153px -44px;
}

#zodiac-change.futago::before {
  background-position: 0 -44px;
}

#zodiac-change.ite::before {
  background-position: -102px -44px;
}

#zodiac-change.kani::before {
  background-position: -102px 0;
}

#zodiac-change.yagi::before {
  background-position: -153px 0;
}

#zodiac-change.shishi::before {
  background-position: -51px -44px;
}

#zodiac-change.mizugame::before {
  background-position: 0 0;
}

#zodiac-change.otome::before {
  background-position: -153px -88px;
}

#zodiac-change.uo::before {
  background-position: -51px -88px;
}

#view-fortune {
  background: no-repeat url('../img/btn_fortune.png') center top/47px;
  width: 82px;
  height: 64px;
}

#view-fortune.on {
  background-image: url("../img/btn_fortune_yellow.png");
  color: #ffd565;
}

#notify-tap {
  position: relative;
  bottom: 178px;
  right: 0;
  display: block;
  margin: 2px 0;
  padding: 7px 10px;
  width: 64px;
  line-height: 1.2em;
  font-size: 1.2rem;
  letter-spacing: normal;
  color: #2A385B;
  background: #E3C26A;
  border-radius: 6px;
}

#notify-tap:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #E3C26A;
}

#pic-prv_area {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 6vh;
}

#pic-prv_area img {
  display: block;
  width: auto;
  height: 50vh;
  margin: auto;
}

#pic-prv {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  opacity: 1;
  text-align: center;
  display: none;
}

#pic-prv_inner {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%;
}


#pic-prv_link {
  display: block;
  height: 90px;
  position: relative;
  background: #cfad61;
  border-radius: 6px;
  margin: 0 20px 20px;

}

#pic-prv_link img {
  width: 200px;
  height: 23px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.share-btn {
  display: block;
  width: 32px;
  margin: 0 30px 30px;
}

.btnArea.pic-prv > *:first-child {
  flex: 0 1 36px;
  position: relative;
}

.btnArea.pic-prv > *:first-child::after {
  content: "戻る";
  position: absolute;
  top: 34px;
  left: calc(50% - .8em);
  font-size: .75rem;
  color: #fff;
}

.btnArea.pic-prv > *:first-child img {
  width: 13px;
  height: 24px;
  margin-bottom: 16px;
}

.btnArea.pic-prv > *:nth-child(2) {
  padding: 10px;
}

.btnArea.pic-prv > *:nth-child(2) p {
  font-size: .9rem;
  margin: 0;
  text-align: left;
  color: #fff;
}


#pic-prv ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;
}

#temp-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

@keyframes flash { 0% {opacity: 0} 50% {opacity: 0} 95% {opacity: 1} 100% {opacity: 1} }
@keyframes darkout { 0% {opacity: 1} 50% {opacity: 1} 95% {opacity: 0} 100% {opacity: 0} }

.flash, .darkout {
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.flash {
  animation-name: flash;
}

.darkout {
  animation-name: darkout;
}

#stars-shape {
  position: absolute;
  top: 0;
  left: 120%;
  display: block;
  width: 300px;
  height: 300px;
  opacity: 1;
  transition: left .2s, opacity .3s;
}

#stars-shape.hide {
  opacity: 0;
}

#stars-shape img {
  position: absolute;
  top: 0;
  left: 0;
}

#pos-gauge {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: opacity .3s;
}

#pos-gauge.hide {
  opacity: 0;
}

#pos-gauge > div {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 6, 53, .4);
}

#pos-gauge > div > div {
  box-sizing: border-box;
  width: 50%;
  height: 25px;
}

#pos-gauge > div > div:nth-of-type(-n+2) {
  border-bottom: 1px solid #fff;
}

#pos-gauge > div > div:nth-of-type(n+3) {
  border-top: 1px solid #fff;
}

#pos-gauge > div > div:nth-of-type(odd) {
  border-right: 1px solid #fff;
}

#pos-gauge > div > div:nth-of-type(even) {
  border-left: 1px solid #fff;
}

#dir-arrow {
  display: none;
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  width: 50px;
  height: auto;
}

#dir-arrow.rev {
  transform: rotate(180deg);
}

#zodiac-sel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#zodiac-sel ul {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border-radius: 6px;
  background: repeat url("../img/bg_wh1.png") #fff;
}

#zodiac-sel li {
  height: 50px;
  box-sizing: border-box;
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5em;
  border-bottom: 1px solid #a6bace;
  font-size: 1.2rem;
  color: #001b2d;
}

#zodiac-sel li:first-child {
  height: 75px;
  flex-basis: 100%;
  justify-content: center;
  background: no-repeat url("../img/bg_nezu.png") 285px bottom/55px;
}

#zodiac-sel li:nth-child(even) {
  border-right: 1px solid #a6bace;
}

#zodiac-sel li:nth-child(n+12) {
  border-bottom-width: 0;
}

#zodiac-sel li:nth-child(n+2)::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 22px;
  margin-right: 12px;
  background: no-repeat url("../img/btn_zod-sel.png") center/80px;
}

#zodiac-sel li.ohitsuji::before {
  background-position: -60px -40px;
}

#zodiac-sel li.tenbin::before {
  background-position: -20px -20px;
}

#zodiac-sel li.oushi::before {
  background-position: -40px -40px;
}

#zodiac-sel li.sasori::before {
  background-position: 0 -20px;
}

#zodiac-sel li.futago::before {
  background-position: -20px -40px;
}

#zodiac-sel li.ite::before {
  background-position: -60px 0;
}

#zodiac-sel li.kani::before {
  background-position: 0 -40px;
}

#zodiac-sel li.yagi::before {
  background-position: -40px 0;
}

#zodiac-sel li.shishi::before {
  background-position: -60px -20px;
}

#zodiac-sel li.mizugame::before {
  background-position: -20px 0;
}

#zodiac-sel li.otome::before {
  background-position: -40px -20px;
}

#zodiac-sel li.uo::before {
  background-position: 0 0;
}

#nomarker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 6, 53, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .3s;
}

#nomarker.hide {
  opacity: 0;
}

#nomarker p {
  font-size: 2.2rem;
  letter-spacing: .1em;
  color: #fff;
}

#nomarker p img {
  width: 60px;
  margin: 0 8px -8px;
}

#devpanel {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px;
  color: #fff;
  background-color: rgba(0, 0, 0, .25);
}

#lat::before {
  content: 'LAT:';
}

#lng::before {
  content: 'LNG:';
}